{% extends 'quizapp/base.html'%}
{% block content %}
{% if user.is_authenticated%}
	<h2>{{quiz.title}}</h2>
	<h3>
		You are about to attempt this quiz.
		Your timer will start as soon as you press the link below.
		<br>
		Good Luck!
	</h3>
	{% if not quiz.published_date %}
	<h4>
	<a href="{% url 'attempt_question' primkey=question.pk%}">
	    Attempt Quiz
	</a>
	</h4>
	{% endif %}
	<h4>
	</h4>
	{% if user.is_staff %}
	<h4>
	<a href="{% url 'quiz_edit' primkey=quiz.pk%}">
	    Edit Quiz
	</a>
	</h4>
	<h4>
	<a href="{% url 'quiz_evaluate' primkey=quiz.pk%}">
	    Publish Result
	</a>
	</h4>
	{% elif quiz.published_date %}
	<h4>
	<a href="{% url 'quiz_evaluate' primkey=quiz.pk%}">
	    View Result
	</a>
	</h4>
	{%endif%}
{%else%}
    <h2>Please <a href="{% url 'login' %}">login</a> to access content</h2>
{%endif%}
{% endblock %}