{% extends 'quizapp/base.html'%}
{% block content %}
{% if user.is_authenticated%}
	<h2><u><center>{{question.title}}</center></u></h2>
		{% if not attempted %}
			<h3>{{question.question_text}}</h3>
			<br>
			<h3>
				<form method="POST" class="attempt-form">
					{%csrf_token%}
					{{form.as_p}}
					<button type="submit" class="save-button">
						{% if not next %}
							Save and Submit
						{%else%}
							Save and Next
						{%endif%}
					</button>
				</form>
			</h3>
		{% else %}
			{% if next %}
				<h3>You have already attempted this question. Go to the 
					<a href="{% url 'attempt_question' primkey=next%}">next</a> one.
				</h3>
			{%else%}
			<h3>
				You have attempted this question already, go back to
				<a href="/">home</a>.
			</h3>
			{%endif%}
		{%endif%}
{%else%}
    <h2>Please <a href="{% url 'login' %}">login</a> to access content</h2>
{%endif%}
{% endblock %}