{% extends 'quizapp/base.html'%}
{% block content %}
{% if user.is_authenticated%}
	<h1><u><center>{{question.title}}</center></u></h1>
	<h1><small>{{marks}} points</small></h1>
		{% if not attempted %}
		<div class="attempt">
			<h2>{{question.question_text | safe}}</h2>
			<br>
			<h3>
				<div class="attempt-form-super">
				<form method="POST" class="attempt-form">
					{%csrf_token%}
					{{form.as_p}}
					<button type="submit" class="save-button" id="submit-button">
						{% if not next %}
							Save and Submit
						{%else%}
							Save and Next
						{%endif%}
					</button>
				</form>
				</div>
			</h3>
			<h1><small>
				Time Remaining: <span id="clock" style="color: #00ff00"></span>
			</small></h1>
		</div>
		{% else %}
			{% if next %}
				<h3>You have already attempted this question. Go to the 
					<a href="{% url 'attempt_question' primkey=next%}">next</a> one.
				</h3>
			{%else%}
			<h3>
				You have attempted this question already, go back to
				<a href="/">home</a>.
			</h3>
			{%endif%}
		{%endif%}
{%else%}
    <h2>Please <a href="{% url 'login' %}">login</a> to access content</h2>
{%endif%}
<script>
function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if (--timer < 0) {
            button=document.getElementById("submit-button");
            button.click();
        }
        if (timer<30){
        	display.setAttribute("style", "color: orange;")
        }
        if (timer<10){
        	display.setAttribute("style", "color: red;")
        }
    }, 1000);
}

window.onload = function () {
    var fiveMinutes = {{time}},
        display = document.getElementById("clock");
    startTimer(fiveMinutes, display);
};
</script>
{% endblock %}