{%load static%}
<!DOCTYPE html>
<html>
<head>
	<title>Deepa Shah's Tutions</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/main_style.css' %}">
</head>
<body>
	<div class="page-header">
		{% if user.is_authenticated%}
            <p class="top-menu">
                <h2 style="float: right">Hello {{ user.username }}
                    <small>(<a href="{% url 'logout' %}">Log out</a>)</small>
                </h2>
            </p>
            <h2>
                <a href="{% url 'leaderboard' %}" class="top-menu" title="Leaderboard">
                    <span class="glyphicon glyphicon-list-alt"></span>
                </a>
            </h2>
            {% if user.is_staff %}
                <h2>
                    <a href="{% url 'quiz_new' %}" class="top-menu" title="New Quiz">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </h2>
            {% endif %}
        {%else%}
            <a href="{% url 'login' %}" class="top-menu" title="Login"><span class="glyphicon glyphicon-lock"></span></a>
        {%endif%}
		<h1><a href="/" title="Home">Deepa's Tutions</a></h1>
	</div>
	<div class="content">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>