{% extends 'quizapp/base.html'%}
{% block content %}
{% if user.is_staff %}
	<h2>Choice</h2>
	{% for choice in choices%}
		<h3>
			<a href="{% url 'edit_choice' primkey=choice.pk%}">
				{{choice.choice_text}}
			</a>
		</h3>
		<br>
	{% endfor %}
	<form method="POST" class="post-form">
		{%csrf_token%}
		{{form.as_p}}
		<button type="submit" class="save-button">Save Choice</button>
	</form>
	<a href="{% url 'edit_question' primkey=question.pk%}">
	    Save All Choices
	</a>
{%else%}
<h2>You do not have access to this page. Return to where you belong</h2>
{%endif%}
{% endblock %}