{% extends 'quizapp/base.html'%}
{% block content %}
<h2>Quiz</h2>
{% if user.is_staff %}
<div class="list">
	<div class="list-content">
{% for question in questions%}
	<h3>
		<a href="{% url 'edit_question' primkey=question.pk%}">
			{{question.title}}
		</a>
	</h3>
{% endfor %}
	</div>
</div>
<h4>
<form method="POST" class="post-form">
	{%csrf_token%}
	{{form.as_p}}
	<button type="submit" class="save-button">Add/Edit Questions</button>
</form>
</h4>
<h4>
<a href="{% url 'homepage' %}">
    Save Quiz
</a>
</h4>
{%else%}
<h2>You do not have access to this page. Return to where you belong</h2>
{%endif%}
{% endblock %}